# Register an app at https://developer.ticktick.com/manage to get these.
# Redirect URI to register with TickTick: http://127.0.0.1:53682/oauth/callback
TICKTICK_CLIENT_ID=
TICKTICK_CLIENT_SECRET=
TICKTICK_REDIRECT_PORT=53682

POMODORO_DEFAULT_MINUTES=25
# Whether the "mark task complete in TickTick" checkbox is checked by default
POMODORO_MARK_TASK_COMPLETE_DEFAULT=false

# Comma-separated domains to block (via /etc/hosts) when distraction blocking is on
FOCUSBUDDY_BLOCK_DOMAINS=youtube.com,twitter.com,x.com,reddit.com,facebook.com,instagram.com
# Whether the "block distracting sites" checkbox is checked by default
FOCUSBUDDY_BLOCK_ENABLED_DEFAULT=false
