# Register an app at https://developer.ticktick.com/manage to get these.
# Redirect URI to register with TickTick: http://127.0.0.1:53682/oauth/callback
TICKTICK_CLIENT_ID=
TICKTICK_CLIENT_SECRET=
TICKTICK_REDIRECT_PORT=53682

POMODORO_DEFAULT_MINUTES=25
